/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Start your code here: */
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}


body {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Kufam', cursive;
}

.container-fluid {
	/* max-width: 800px; */
	margin: 0 auto;
	padding: 0;
}

/*-------------- HEADER/NAV Container --------------*/
.container {
	/* background-color:rgb(241, 241, 241); */
	/* background-color: rgb(245, 245, 245); */
	/* background-color: rgb(255, 255, 255); */
	padding: 0;
	margin: 0 auto;
	width: 100%;
	/* font-size: 2rem; */
}
/*------ Hrs ------ */

.mainHr {
	border: 2px solid rgb(49, 62, 79);
	padding: 0;
	margin: .5rem 0;
}

hr {
	border: 1px solid rgb(49, 62, 79);
	padding: 0;
	margin: 0;
}

.navHr:first-child {margin-bottom: 1.5rem;}
.navHr:last-child {margin-top: 1.5rem;}

.navHr {
	border: 1px solid rgb(194, 194, 194);
	padding: 0;
	margin: 1rem 0;
}


/*-------------- HEADER--------------*/
header {
	/* background-color:rgb(241, 241, 241); */
	padding: 1rem 2%;
	text-align: center;
}

header h1 a {
	/* color: rgb(49, 62, 79); */
	color: rgb(95, 95, 95);
	font-family: 'Kufam', cursive;
	font-size: 5rem;
	font-weight: 700;

}

header h2 {
	/* color: rgb(49, 62, 79); */
	color: rgb(95, 95, 95);
	font-family: 'Montserrat', sans-serif;

	font-size: 1.3rem;
	font-weight: 400;
}

header h1 a:hover {
	text-decoration: none;
	color: rgb(95, 95, 95);
}

/*-------------- NAV --------------*/
nav.navbar.navbar-expand-lg.navbar-light {
	background-color: #fff;
	text-align: center;
	margin: 0 auto;
	
}

.navbar-light .navbar-toggler {
	border: 2px solid rgb(49, 62, 79);
	background-color: #fff;
	margin: 0;
	padding: 0;
	height: 40px;
	width: 40px;

}

.navbar-light .navbar-toggler-icon {background-image: url(../images/menu.svg);}

ul.navbar-nav.mr-auto {margin: 0 auto;}
li.nav-item {padding: .5rem 1rem;}
a.nav-item {font-family: 'Montserrat', sans-serif;}


li.nav-item.active, li.nav-item:hover {color: rgb(49, 62, 79);}
li.nav-item.active a, li.nav-item:hover a {font-weight: 600;}


/*-------------- btnRow --------------*/
.row#btnRow {
	width: 80%;
	margin: 0 auto;
	padding: 2rem 0;
}

#btnRow .col {
	display: flex; 
	justify-content: center;
	align-items: center;
}


#navButtons {
	width: 100%;
	background-color: rgb(49, 62, 79);
	outline: none;
	border: none;
	padding: .8rem 0;
}

#navButtons:hover {
	background-color: #fff;
	color: rgb(49, 62, 79);
	border: 2px solid rgb(49, 62, 79);
	margin: 0;
}



/*-------------- H1, H2, P --------------*/
h1 {font-family: Arial, Helvetica, sans-serif; font-size: 2.5rem; font-weight: 700; text-transform: uppercase;}
h2 {font-family: Arial, Helvetica, sans-serif; font-size: 2rem; font-weight: 500; text-transform: none;}
p {font-family: Arial, Helvetica, sans-serif; font-size: 1.5rem; line-height: 1.8rem; font-weight: 400;}
h1, p {margin: 1.5rem 0 .5rem 0;}
h2 {margin: 1.5rem 0 .5rem 0;}





/*-------------- MAIN --------------*/
/*-------------- virtual class info section --------------*/

.container-fluid#virtualSection {
	background-color: rgb(218, 223, 230);
}

.container#virtual {
	padding: 0;
}

#virtual {
	background-color:rgb(218, 223, 230);
}

/*-------- VIRTUAL BTN ROW --------*/
.virtual {
	margin: 0 auto;
	padding: 3rem 0;
	text-align: center;
}

.virtual h2 {
	font-family: 'Kufam', cursive;
	font-weight: 700;
	font-size: 1.8rem;
	padding-top: 1rem;
}

.virtual .row {
	padding: 2rem 0;
	margin: 0 auto;
}

.virtual .row .col {
	padding: 0;
	margin: 0 auto;
}

.virtual .row .col button#virtualBtn {
	font-family: 'Montserrat', sans-serif;
	color: rgb(49, 62, 79);
	border: 2px solid rgb(49, 62, 79);
	height: 100%;
	width: 90%;
	font-weight: 500;
	padding: 2% 2%;
}

.virtual .row .col button#virtualBtn:hover {background-color: #fff;}


/*----- Class info -----*/
.classInfo {
	font-weight: 700;
	background-color:rgb(218, 223, 230);
	text-align: left;
	width: 80%;
	margin: 0 auto;
}

.classInfo h2 {
	font-family: 'Kufam', cursive;
	font-weight: 700;
	font-size: 1.8rem;
	padding-top: 1rem;
}
.classInfo h3 {
	font-family: 'Kufam', cursive;
	font-size: 1.3rem;
	font-weight: 700;
	padding: 1.3rem 0 1rem 0;
}

.classInfo ul {
	list-style-type: disc;
	margin-left: 3%;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.7rem;
	font-family: 'Montserrat', sans-serif;
}


/*-------- CAROUSEL --------*/
.container#carouselSection {
	padding: 0 2%;
}
.carousel {margin: 0 auto;}

.carousel.slide {
	width: 100%;
	max-width: 850px;
	padding: 0;
}

/*-------- ABOUT --------*/
.container#aboutSection {
	margin: 0 auto;
	text-align: center;
	padding: 3rem 2%;
}


#aboutSection h2 {
	font-family: 'Kufam', cursive;
	font-weight: 700;
	margin: 0 auto;
	padding-bottom: .8rem;
}

#aboutSection h5 {
	padding: 1rem 0;
	margin: 0 auto;
	width: 100%;
	max-width: 750px;
	font-size: 1.5rem;
	color: #000;
	font-family: 'Montserrat', sans-serif;
}



/*-------- REVIEWS --------*/
.container-fluid#reviewSection {
	background-color: #fff;
}

#totalReviews {
	padding: 2% 0;
}
#totalReviews .row {
	margin: 0 auto;
	width: 85%;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
}

#totalReviews .col-6 { 
	padding: 0;
	margin: 0 auto;
	 width: 100%;
 }

#totalReviews #title {
	font-family: 'Kufam', cursive;
	text-align: left;
	margin: 0;
	padding: 0;
	width: 100%;
}

#totalReviews #title h2 {
	margin: 0;
	padding: 0;
}


#totalReviews #stars {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: right;
	width: 100%;
	margin: 0;
	padding: 0;
}

.bi.bi-star-fill {color: green; font-size: 1.2rem;}
#totalReviews #stars h6 {text-align: right;}


#totalReviews hr {
	width: 85%;
	margin: 1rem auto 0 auto;
	border: 1px solid rgb(194, 194, 194);
	margin-bottom: 2%;
}



#peopleReviews {
	padding: 0 0 2% 0;
	margin: 0 auto;
}

#peopleReviews .row {
	margin: 0 auto;
	padding: 0;
	width: 92%;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
}

#peopleReviews .col-3 { 
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	box-sizing: content-box;
}

#peopleReviews .col-3 p {font-family: 'Montserrat', sans-serif;}

.commentPages {padding: 2rem 2% 5rem 2%;}



#backSection {
	background-color: rgb(240, 240, 240);
	height: 100%;
}

#backContainer {
	margin: 0 auto;
	text-align: center;
	/* border: 1px solid black; */
	padding: 3rem 0;
}

.backBTN a {
	font-size: 2rem;
	color: #000;
	color: #313E4F;
}
.backBTN a i {
	font-size: 6rem;
	font-style: normal;
	color: #d59c89;
}

.backBTN a:hover {
	text-decoration: none;
}


/*-------------- FOOTER --------------*/
footer {
	font-weight: 400;
	font-size: 1.2rem;
	text-align: center;
	justify-content: center;
	padding: 2%;
	color: white;
	background-color: rgb(49, 62, 79);
}

footer h6 {font-size: 1.2rem; padding-bottom: 1rem;}

footer h6#email {text-decoration: underline; cursor: pointer;}

footer h6#footerIcons {
	display: inline-block;
	font-size: 3rem;
	margin-right: 8%;
	cursor: pointer;
}

footer h6#footerIcons:last-child {margin-right: 0;}





/* TABLET */
@media (max-width: 991px) {
	@media (min-width: 577px) {
	#peopleReviews .row, footer .container .row {display: block;}

	#peopleReviews .col-3, footer .container .col { 
		display: block;
		padding: 1.4rem 2%;
	}

}
}


/* MOBILE */
@media (max-width: 576px) {
	.row#btnRow {width: 95%;}

	footer {width: 100%;}

	footer .row {
		width: 100%;
		margin: 0 auto;
	}

	#peopleReviews .row, footer .container .row {display: block;}

	#peopleReviews .col-3, footer .container .col { 
		display: block;
		padding: 1.4rem 2%;
	}


}




/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
  }